<footer class="mt-auto">
    <div class="f-info">

        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div>Wonder Lust </div>
        <div class="f-info-terms">
            <a href="Privacy">Privacy</a>
            <a href="Terms">Terms</a>
        </div>
    </div>
</footer>